{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
</head>

<body>
    <div class="container">
        <div class="password-block">
            <div class="password-card">
                <div class="password-card-elems">
                    <h2 class="password-card-title">Смена пароля</h2>
                    <div class="password-instructions">
                        <p>Вы можете сменить текущий пароль, если на этапе регистрации ввели свой username из telegram</p>
                        <p>В ваш профиль также должен быть добавлен чат-ID нашего бота</p>
                        <p>Если эти условия выполнены, в чате с <a class="hightlight">@spartakovezTour_bot</a> вы можете cменить пароль</p>
                    </div>
                    <button class="form-btn"><a href="{% url 'login' %}">Назад</a></button>
                </div>
            </div>
        </div>
    </div>
</body>