{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elements-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/register-style.css' %}">  
</head>

<body>
    <div class="container">
        <div class="register-form-block">
            <form method="POST" action="" class="register-form">
                <h2 class="register-form-title">Регистрация</h2>
                {% csrf_token %}
                <div class="register-form-fields">
                    <div class="form-main-info">
                        <div class="form-field">
                            {{profile_form.fullname.label_tag}}
                            {{profile_form.fullname.errors}}
                            {{profile_form.fullname}}
                        </div>
                        <div class="form-field">
                            {{profile_form.email.label_tag}}
                            {{profile_form.email.errors}}
                            {{profile_form.email}}
                        </div>
                        <div class="form-field">
                            {{profile_form.mobile_phone.label_tag}}
                            {{profile_form.mobile_phone.errors}}
                            {{profile_form.mobile_phone}}
                        </div>
                    </div>
                    <div class="form-main-info">
                        <div class="form-field">
                            {{form.username.label_tag}}
                            {{form.username.errors}}
                            {{form.username}}
                        </div>
                        <div class="form-field">
                            {{form.password1.label_tag}}
                            {{form.password1.errors}}
                            {{form.password1}}
                        </div>
                        <div class="form-field">
                            {{form.password2.label_tag}}
                            {% if form.password2.errors %}
                                <ul>
                                    {% for error in form.password2.errors %}
                                        {% if error == "This password is too short. It must contain at least 8 characters." %}
                                            <li class="errorlist">Пароль слишком короткий (меньше 8 символов)</li>
                                        {% elif error == "This password is too common." %}
                                            <li class="errorlist">Пароль слишком простой</li>
                                        {% elif error == "This password is entirely numeric." %}
                                            <li class="errorlist">Пароль не может состоять только из цифр</li>
                                        {% elif error == "This field is required." %}
                                            <li class="errorlist">Пароль обязателен для заполнения</li>
                                        {% elif error == "The two password fields didn’t match." %}
                                            <li class="errorlist">Пароли не совпадают</li>
                                        {% else %}
                                            <li class="errorlist">{{ error }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{form.password2}}
                        </div>
                    </div>
                    <div class="form-additional-info">
                        <div class="form-field">
                            {{profile_form.gender.label_tag}}
                            {{profile_form.gender.errors}}
                            {{profile_form.gender}}
                        </div>
                        <div class="form-field">
                            {{profile_form.age.label_tag}}
                            {{profile_form.age.errors}}
                            {{profile_form.age}}
                        </div>
                        <div class="form-field">
                            {{profile_form.category.label_tag}}
                            {{profile_form.category.errors}}
                            {{profile_form.category}}
                        </div>
                        <div class="form-field">
                            {{profile_form.role.label_tag}}
                            {{profile_form.role.errors}}
                            {{profile_form.role}}
                        </div>
                    </div>
                </div>
                <button id="form-button" class="form-btn" type="submit">Готово</button>
            </form>
        </div>    
    </div>
</body>

</html>