{% extends 'pattern.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
{% endblock %}

{% block title %}
<title>Объявления</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="announsments-title">Объявления</h3>
    <div class="line"></div>
    <section class="announsments-list">
        {% for announs in announs_list %}
            <div class="announsment">
                <h5>{{ announs.title }}</h5>
                <p>{{ announs.text }}</p>
            </div>             
        {% endfor %} 
    </section>
    <h3 class="timetable-title">Ближайшие турниры</h3>
    <section>

    </section>
</div>
{% endblock %}