{% extends 'pattern.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
{% endblock %}

{% block title %}
<title>Объявления</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="announsments-title">Объявления</h3>
    <div class="line"></div>
    <section class="announsments text-content">
        <div class="announsment">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam veritatis quas, quos voluptate ab vel
                assumenda aperiam numquam natus reiciendis voluptatum, odit facere amet iusto eos! Cum adipisci vero
                non?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae cupiditate numquam odio? Quos dicta
                voluptate molestias voluptates sit, nesciunt, ratione ipsam possimus quod, ipsum excepturi hic in itaque ut
                dolore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora saepe natus ut labore, dignissimos
                quibusdam sapiente maxime facere. Earum adipisci ut nobis, dolorem doloribus voluptatem inventore at harum
                possimus hic.
            </p>
        </div>
        
    </section>
    <h3 class="timetable-title">Расписание</h3>
    <section>

    </section>
</div>
{% endblock %}