{% extends 'pattern.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/ratings-style.css' %}">
    <script type="module" src="{% static 'js/rate-table-render.js' %}"></script> 
{% endblock %}

{% block title %}
<title>Рейтинг</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Рейтинг</h3>
        <div class="line"></div>    
        <section class="ratings-block">
            <table class="table-rows">
            </table>  
        </section>
    </div>
{% endblock %}