{% extends 'pattern.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/tournaments-style.css' %}">
    <script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block title %}
<title>Турниры</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Турниры</h3>
        <div class="line"></div>
        {% if user.is_authenticated %}
            {% if not perms.main_app.cant_reg_in_tour %}
                <section class="tournament-block">
                    <div class="container">
                        <div class="tournament-register">
                            <h5 class="register-title">Нажмите на кнопку ниже, чтобы принять участие в турнире!</h5>
                            <a href="{% url 'register_to_tour' %}"><button class="register-btn">Участвовать в турнире</button></a>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endif %}
        {% if perms.main_app.can_generate_tour %}
            <section class="tour-generation">
                <h4>Создание турнира:</h4>
                <button class="generate-btn">Начать Турнир</button>
                <button class="next-match-btn">Следующий матч</button>
            </section>
        {% endif %}
        <section class="matches"></section>
    </div>
{% endblock %}