{% extends 'pattern.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/tournaments-style.css' %}">
<script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block title %}
<title>Турнир</title>
{% endblock %}

{% block content %}
<div class="container">
    <section id="start">
        <h3>Турнир</h3>
        <a href="#played" class="nav-page">Перейти к отыгранным матчам</a>
        <div class="line"></div>
        {% if user.is_authenticated %}
            {% if not perms.main_app.cant_reg_in_tour %}
            <section class="tournament-block">
                <div class="container">
                    <div class="tournament-register">
                        <h5 class="register-title">Нажмите на кнопку ниже, чтобы принять участие в турнире!</h5>
                        <span class="register-comment">Записываться нужно только игрокам!</span>
                        <a href="{% url 'register_to_tour' %}"><button class="register-btn">Участвовать</button></a>
                    </div>
                </div>
            </section>
            {% endif %}
        {% endif %}
        <div class="tour-controls">
            {% if perms.main_app.can_generate_tour %}
                <div class="tour-generation">
                    <h4>Создание турнира:</h4>
                    <button class="generate-btn">Создать расписание</button>
                </div>
            {% endif %}
            {% if perms.main_app.can_shift_timetable %}
                <div class="shift-time">
                    <h4>Сдвинуть время матчей:</h4>
                    <button class="shift-btn">Указать время</button>
                </div>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="matches">
            <div class="loading">
                <h4>Обработка данных</h4>
                <span class="loader"></span>
            </div>
        </div>
    </section>
    <section id="played">
        <h3>Отыгранные матчи</h3>
        <a href="#start" class="nav-page">Вернуться в начало страницы</a>
        <div class="line"></div>
        <div class="played-matches">
        </div>
    </section>
    <div id="overlay"></div>
    <section>
        <div class="modal-edit">
            <h3>Настройки турнира</h3>
            <span class="form-error"></span>
            <a class="modal-close">
                <svg fill="#000000" width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"/>
</svg>
            </a>
            <form method="POST" class="edit-form">
                {% csrf_token %}
                <div>
                    <p>Время начала: </p>
                    <input id="start-time" type="text" pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" placeholder="например, 17:00">
                </div>
                <div>
                    <p>Уровень подготовки:</p>
                    <div id="category" class="multiselect-checkbox">
                        <label><input type="checkbox" name="options" value="1"> 6-10 лет, мальчики</label>
                        <label><input type="checkbox" name="options" value="2"> 6-10 лет, девочки</label>
                        <label><input type="checkbox" name="options" value="3"> 11-15 лет, юноши</label>
                        <label><input type="checkbox" name="options" value="4"> 11-15 лет, девушки</label>
                        <label><input type="checkbox" name="options" value="5"> 16+ лет, мужская</label>
                        <label><input type="checkbox" name="options" value="6"> 16+ лет, женская</label>
                    </div>
                </div>
                
                <div>
                    <p>Перерыв между группами (в минутах):</p>
                    <input id="group-delay" type="number" min="1">
                </div>
                <div>
                    <p>Перерыв между матчами (в минутах):</p>    
                    <input id="match-delay" type="number" min="0">
                </div>
                <button type="button" class="modal-save-btn">Начать турнир</button>
            </form>
        </div>
        <div class="modal-time-edit">
            <h3>Задайте время</h3>
            <span class="shift-form-error"></span>
            <a class="modal-time-close">
                <svg fill="#000000" width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"/>
</svg>
            </a>
            <form method="POST" class="edit-form">
                {% csrf_token %}
                <h5>Укажите в минутах, введите отрицательное число (-10) для сдвига назад и положительное (10), чтобы сдвинуть вперед</h5>
                <div>
                    <p>Сдвинуть несыгранные на:</p>
                    <input id="matches-shift" type="number">
                </div>
                <button type="button" class="modal-shift-btn">Подвинуть матчи</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}