{% extends 'pattern.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/tournaments-style.css' %}">
    <script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block title %}
<title>Турниры</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Турниры</h3>
        <div class="line"></div>
        <section class="tour-generation">
            <h4>Создание турнира:</h4>
            <button class="generate-btn">Начать Турнир</button>
            <button class="next-match-btn">Следующий матч</button>
        </section>
        <section class="matches"></section>
    </div>
{% endblock %}