{% extends 'pattern.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/elements-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile-style.css' %}">
{% endblock %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock %}

{% block content %}
    <section class="user-card-section">
        <div class="container">
            <div class="user-card">
                <div class="user-fullname">
                    <img class="user-avatar" src="{% static 'images/user-avatar.png' %}">
                    <p>{{ profile.fullname }}</p>
                </div>
                <div class="user-info">
                    <div class="user-role">
                        <p><b>{{ profile.get_role_display }}</b></p>
                    </div>
                    <p>Email: <b>{{ profile.email }}</b></p>
                    <p>Телефон: <b>{{ profile.mobile_phone }}</b></p>
                    <p>Возраст: <b>{{ profile.age }}</b></p>
                    <p>Уровень подготовки: <b>{{ profile.category }}</b></p>
                    <p>Рейтинг игрока: <b>{{ profile.rating }}</b></p>
                </div>
            </div>
    </div>
    </section>
{% endblock %}