@font-face {
    font-family: 'KumarOne';
    src: local('KumarOne'),
        url('../fonts/KumarOne-Regular.woff2') format('woff2'),
        url('../fonts/KumarOne-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope'),
        url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/KumarOne-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

a, p, span, td,
h1, h2, h3, h4, h5 {
    font-family: Mangrope, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    max-width: max-content;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 50px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 15px;
}

.line {
    height: 1px;
    background-color: #f00;
    margin-bottom: 50px;
}

h3 {
    padding-left: 50px;
}

button {
    max-width: max-content;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #C23636;
    border-radius: 15px;
    color: #fff;
    background-color: #C23636;
}

button:hover {
    border: 2px solid #fff;
    transition: color 0.2s ease-in-out;
}

button:active {
    color: #C23636;
    border: 2px solid #C23636;
    background-color: #fff;
}
