@media (min-width: 1200px) {
    .container {
      max-width: 960px;
    }
}

.user-icon {
    max-height: 30px;
}

.logo {
    max-height: 60px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-list {
    display: flex;
    gap: 15px;
}

.menu-item, .user-link {
    padding: 5px;
    color: #fff;
    fill: white;
    text-decoration: none;
    height: max-content;
}

.user-link {
    display: flex;
    gap: 10px;
}

.menu-item:hover, .user-link:hover, .user-icon:hover {
    color: #C23636;
    fill: #C23636;
    transition: color 0.2s ease-in-out, fill 0.2s ease-in-out;
}

header {
    background-color: #000;
    padding: 10px;
    margin-bottom: 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content a, .header-content p {
    font-size: 18px;
}

footer {
    color: #fff;
    background-color: black;
    padding: 20px 0;
}

.mobile-footer-content {
    display: none;
    justify-content: center;
}

.mobile-menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-list li {
    display: flex;
}

.mobile-menu-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    color: #C23636;
    fill: #C23636;
}

@media (max-width: 392px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 0px;
        margin: 0;
        z-index: 100;
    }

    main {
        margin-top: 95px;
        margin-bottom: 95px;
        overflow-y: auto;
        flex: 1;
    }

    .logo {
        display: none;
    }

    .header-nav {
        display: none;
    }

    .user .username {
        display: none;
    }

    .mobile-footer-content {
        display: flex;
    }

    footer {
        position: fixed;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px 0px;
        z-index: 100;
    }
   
}
