.text-content {
    display: flex;
    flex-direction: column;
}

.line {
    height: 1px;
    background-color: #f00;
    margin-bottom: 20px;
}

h3 {
    padding-left: 50px;
    margin-bottom: 10px;
}

.announsment {
    background-color: #BCDEED;
    padding: 10px 15px;
}