.announsments-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.announsment {
    border-radius: 18px;
    padding: 20px 40px;
    background-color: #DDE5F2;
}

.announsment p {
    text-indent: 20px;
}

@media (max-width: 960px) {
    .announsment {
        padding: 8px 14px;
        font-size: 16px;
        box-shadow: 0 4px 4px 0 #1A326940;
    }

    .announsment h5 {
        font-size: 20px;
        margin-bottom: 5px;
    }
}