@media (min-width: 1200px) {
    .container {
      max-width: 1100px;
    }
}

.container {
    height: 100%;
}

body {
    height: 100vh;
    background-color: #111111;
    background-image: url("../images/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-form-block, .password-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    gap: 40px;   
}

.mobile-logo {
    display: none;
    width: 142px;
}

.login-form-block a {
    align-self: center;
}

.login-form-elements,
.password-instructions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorlist {
    color: #fd0101;
}

.hightlight {
    color: #f00;
}

.form-btn,
.login-form-title,
.password-card, 
a, 
label {
    margin-bottom: 0;
    color: #FFFFFF;
}

.form-btn:hover {
    border: 2px solid #FFFFFF;
    transition: color 0.2s ease-in-out;
}

label {
    font-size: 20px;
    font-weight: 400;
}

.login-form input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.login-form-box, .password-card { 
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px; 
    padding: 60px; 
    background-color: rgb(255, 255, 255, 0.24); 
    border-radius: 36px; 
}

.login-form, .password-card-elems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form-links {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    transition: text-decoration 0.4s ease-in-out;
}

.big-link {
    font-size: 20px;
}

/**/ 
.password-card-elems p {
    text-indent: 20px;
    font-size: 20px;
}

.password-instructions {
    gap: 30px;
}


@media (max-width: 392px) {
    .login-form-box, .password-card {
        padding: 20px 15px;
    }

    .login-form-box, .password-card {
        width: 330px;
    }

    body {
        background-image: linear-gradient(#9A1618, #340708, #340708);
    }

    .mobile-logo {
        display: block;
    }

    .login-form {
        gap: 50px;
    }
}

