.user-card-section {
    background-image: linear-gradient(rgba(116, 138, 163, 0.6) 0%, rgba(134, 79, 80, 0.5) 90%);
}

.user-avatar {
    height: 280px;
}

p, h3 {
    max-width: max-content;
}

h3 {
    margin-bottom: 25px;
}

.user-fullname {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
}

.user-fullname p {
    font-size: 30px;
    text-align: center;
}

.user-card {
    display: flex;
    padding: 50px 0;
    gap: 75px;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
    padding: 40px;
    border-radius: 15px;
    background-color: #F0F0F0;
}

.user-info-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.user-info p {
    font-size: 20px;
}

.user-role {
    max-width: max-content;
    align-self: center;
    padding: 8px 90px;
    color: #fff;
    background-color:#C23636;
    border-radius: 40px;
    margin-bottom: 40px;
}

.profile-edit, .bot {
    align-self: center;
    justify-self: flex-end;
    color: #2282B9;
    cursor: pointer;
    font-size: 20px;
}

.profile-edit:hover, .bot:hover {
    text-decoration: underline;
}

.last-ratings {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.last-rating:last-child {
    color: #fff;
    background-color: #C23636;
}

.last-rating {
    display: flex;
    font-size: 18px;
    background-color: #D9E4F2;
    border-radius: 15px;
    padding: 8px 10px;
}


/**/

.modal-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.modal-save-btn {
    align-self: center;
    padding: 15px 40px;
}

.form-error {
    color: #fd0101;
    margin-bottom: 5px;

}

.modal-edit {
    width: 600px;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 80px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 9999;
}

.modal-edit h3 {
    margin-bottom: 25px;
    padding: 0;
}

.modal-edit input,
.modal-edit select {
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000;
    padding: 0px;
}

.edit-form-selectors {
    display: flex;
    justify-content: space-between;
}

.modal-edit input {
    width: 100%;
}

.modal-edit input:focus-visible,
.modal-edit select:focus-visible {
    outline: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 9998;
    display: none;
}

#overlay.show {
    display: block;
}

.edit-profile-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.edit-profile-form p {
    font-size: 22px;
    margin-bottom: 5px;
}

@media (max-width: 960px) {
    .modal-edit {
        width: 350px;
        padding: 30px 35px;
    }

    .user-card {
        flex-direction: column;
        gap: 23px;
        padding: 0;
    }

    .user-fullname {
        padding: 0;
    }

    .user-card-section {
        background-image: none;
        background-color: #fff;
    }

    .user-info {
        padding: 16px 25px;
        gap: 40px;
    }

    .user-role {
        padding: 5px 35px;
        margin-bottom: 20px;
    }

    .user-avatar {
        height: 105px;
    }

    .user-fullname p {
        font-size: 23px;
    }

    .edit-form-selectors {
        flex-direction: column;
        row-gap: 40px;
    }
}