.user-card-section {
    background-image: linear-gradient(rgba(116, 138, 163, 0.6) 0%, rgba(134, 79, 80, 0.5) 90%);
}

img {
    height: 280px;
}

p, h3 {
    max-width: max-content;
}

.user-fullname {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
}

.user-fullname p {
    font-size: 30px;
    text-align: center;
}

.user-card {
    display: flex;
    padding: 50px 0;
    gap: 75px;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 40px;
    border-radius: 15px;
    background-color: #F0F0F0;
}

.user-info p {
    font-size: 20px;
}

.user-role {
    width: max-content;
    align-self: center;
    padding: 8px 90px;
    color: #fff;
    background-color:#C23636;
    border-radius: 40px;
    margin-bottom: 40px;
}

.tournament-register {
    display: flex;
    flex-direction: column;
}

.tournament-register h4 {
    margin-bottom: 0;
}

.register-comment {
    color: gray;
    margin-bottom: 15px;
}

a {
    color: #fff;
}