.filter-groups {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filter-groups h4, h5 {
    margin-bottom: 5px;
}

.timetable-matches {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.match-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 6px;
    background-color: #F0F0F0;
}

.match-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    gap: 16px;
    background-color: #000;
}

.match-info span {
    color: #FFF;
    font-size: 22px;
    text-align: center;
}

.teams-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.team-block:first-child {
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #D9E4F2;
    border-radius: 6px;
    background-color: #ca4f4f;
}

.team-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.team-players p {
    max-width: max-content;
}

@media (max-width: 392px) {
    .timetable-matches {
        justify-content: center;
        gap: 18px;
    }

    .match-card {
        width: 100%;
        gap: 0;
    }

    .match-info {
        width: 100%;
        gap: 20px;
        padding: 8px;
    }

    .teams-block {
        flex-direction: row;
        padding: 8px;
    }

    .match-info {
        padding: 5px;
    }

    .match-info span {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }
}
