button {
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #C23636;
    border-radius: 15px;
    color: #fff;
    background-color: #C23636;
}

button:hover {
    border: 2px solid #fff;
    transition: color 0.2s ease-in-out;
}

.tour-generation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tour-generation h4 {
    margin: 0;
}

.next-match-btn {
    background-color: #533131;
    border-color: #533131;
}

.next-match-btn:active {
    color: #533131;
    border-color: #533131;
    background-color: #fff;
}

.matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(65, 65, 65, 1);
}

.team-players-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 8px;
    border-radius: 15px;
    background-color: #fff;
}

.team-players-block p {
    font-size: 18px;
}

.team-players-block span {
    font-size: 16px;
}

.team-card h5 {
    align-self: center;
    margin: 0;
    color: #fff;
}

.team-roles span {
    font-weight: 600;
}

.match-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
    border-radius: 15px;
    background-color: rgba(217, 228, 242, 1);
}

.match-place {
    display: flex;
    justify-content: space-between;
}

.match-place h4 {
    margin-bottom: 0;
}

.match-teams {
    display: flex;
    align-items: center;
    gap: 30px;
}

.team1-score-input,
.team2-score-input {
    width: 120px;
    height: 120px;
    font-size: 100px;
    font-family: KumarOne, sans-serif;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding-top: 20px;    
    background-color: rgba(65, 65, 65, 1);
}

.empty {
    border: 2px solid #fff;
}

.save-score-btn {
    width: max-content;
    align-self: center;
}

.vs-img {
    max-width: 150px;
}