.tournament-title {
    display: flex;
    justify-content: center;
}

.matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.generate-btn {
    background-color: #C23636;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: #fff;
}

.team-card {
    max-width: max-content;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.team-roles {
    margin-bottom: 15px;
}

.team-roles span {
    font-weight: 600;
}

.match-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 20px;
    background-color: #BCDEED;
}

.match-teams {
    display: flex;
    gap: 30px;
}

.team1-score-input,
.team2-score-input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.match-score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.match-score-title {
    margin-bottom: 0;
}

.match-score p {
    font-size: 20px;
    width: max-content;
}

.save-score-btn {
    background-color: #C23636;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    color: #fff;
}